{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}Welcome{% endblock %}

{% block body %}
  {% if debug %}
  <b><font color="red">DEBUG MODE</font></b></br>
  {% endif %}
  <a href="/devprojects/">Dev Projects</a></br>
  I'm always working on some sort of software development project and put up info on them here.</br>
  </br>
  <a href="/gamedev/">Game Dev</a></br>
  I'm a hobbyist video game developer. This page lists games that are currently in development and some that are already completed.</br>
  </br>
  <a href="/pcbuild/">Custom PC</a></br>
  I built my first computer a little while ago. Check out all of the info on this page.</br>
  </br>
  <a href="/keyboard/">Custom Keyboard</a></br>
  I'm in the process of building a custom keyboard. Check out my progress here.
{% endblock %}
