{% extends 'base.html' %}

{% block title %}
Keyboard
{% endblock %}

{% block header %}Custom Keyboard Build{% endblock %}

{% block body_block %}
I just recently decided to put together a custom keyboard. I'm still deciding on a case to order, and am waiting for everything to ship.</br>
</br>
<a href="http://winkeyless.kr/product/b-87-pcb-x2/">Board</a></br>
The board is a tenkeyless 87 key style ordered off of <i>Winkeyless</i>. It comes soldered together with the main controller parts, RGB LED under board lighting, RGB controller, dioes, and resistors.</br>
</br>
<a href="https://www.massdrop.com/buy/gateron-switches?utm_source=sendgrid&utm_medium=email&utm_campaign=Transactional:+Joined+Drop&referer=A2YJLM">Switches</a></br>
The switches are Gateron Browns 45g tactile from <i>Massdrop</i>. Browns are softer (less clicky) and have a feedback bump around halfway through the key press.</br>
</br>
<a href="http://www.switchtop.co/product/2x3x4mm-leds">Key LEDs</a></br>
The key LEDs from <i>switchTop</i> are blue.</br>
</br>
<a href="http://pimpmykeyboard.com/dsa-dolch-keycap-set/">Keycaps</a></br>
The Dolch 110 key base set is from <i>Pimp My Keyboard</i> and includes extra keycaps for customization. The core keys are gray, and the secondary keys are black. There are 110 keys included in the set which allows some of the secondary keys to be either black or grey. There's also a red escape key included in the set.</br>
</br>
Case</br>
Just need to order a case now. I plan on getting a black case with a back plating that will allow the under board LEDs to shine through.
{% endblock %}
