html, body {
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}
#wrap {
    min-height: -webkit-calc(100% - 75px);
    min-height: -moz-calc(100% - 75px);
    min-height: calc(100% - 75px);
}
.footer {
    position: relative;
    clear: both;
}
.gameIcon{
	border: 2px solid white;
	float:right;
}
.gameIconCol{
	width:100%;
}
.title{
	font-weight:bold;
	font-size:22px;
	width:50%
}
